.container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto; 
    align-items: center;  
}

.header{
    font-size: 2rem;
}

.drawing{
    position: relative;
}

.flatbar {
    background-color: black;
    height: 10px;
    width: 250px;
    position: relative; 
    left: 25px;
  }
  
.straightline {
    background-color: black;
    width: 10px;
    height: 60px;
    position: absolute;
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Adjust horizontal positioning */
}

.keyboard{
    width: 100px;
    background-color: antiquewhite;
    border: 3px solid black;
    margin-top: 5px;
    font-size: 3rem;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}